<div class="edit-bar cns-cont-blk">
	<div class="bar-top">
		<span class="name-cont"></span>
		<span class="save-btn edit-top-opt">保存</span>
		<span class="share-btn edit-top-opt">分享</span>
	</div>
	<div class="edit-cont">
		<div id="editor"></div>
	</div>
</div>