<div class="edit-bar cns-cont-blk">
	<div class="bar-top">
		<input class="name-cont" type="text" name="" id="" value="JavaScript模块化">
		<span class="save-btn edit-top-opt">保存</span>
		<span class="share-btn edit-top-opt">分享</span>
	</div>
	<div class="edit-cont">
		<div id="editor"></div>
	</div>
</div>