<% include header %>

<div class="main-box">

<% include sideBar %>
<% include searchBar %>
<% include editBar %>
<% include widgetMenuBar %>

</div>

<div class="page-mask"></div>

<% include footer %>
