<% include header %>

<div class="main-box">

<% include sideBar %>
<% include searchBar %>
<% include editBar %>
<% include widgetMenuBar %>

</div>

<div class="page-mask"></div>

<div class="warn-msg">
	<i class="due-if">&#xe602;</i>
	<span class="msg-text"></span>
</div>

<% include footer %>
