<% include header %>

<div class="main-box">
    <aside class="aside-nav block">
        <h3>导航</h3>
            <h4 class="nav-link"><a>文件/课件</a></h4>
            <h4 class="nav-link"><a>作业</a></h4>
            <h4 class="nav-link"><a>相关测试</a></h4>
            <h4 class="nav-link"><a>最新讲座</a></h4>
            <h4 class="nav-link"><a>通知</a></h4>
    </aside>
    <div class="banner block">
        <ul class="slider-list">
            <li class="slider-item">
                <img src="/imgs/banner1.png" alt="banner-pic" width="800" height="450" />
            </li>
            <li class="slider-item">
                <img src="/imgs/banner2.png" alt="banner-pic" width="800" height="450" />
            </li>
            <li class="slider-item">
                <img src="/imgs/banner3.png" alt="banner-pic" width="800" height="450" />
            </li>
            <li class="slider-item">
                <img src="/imgs/banner4.png" alt="banner-pic" width="800" height="450" />
            </li>
            <li class="slider-item">
                <img src="/imgs/banner5.png" alt="banner-pic" width="800" height="450" />
            </li>
        </ul>
    </div>
</div>

<% include footer %>
