<div class="cns-cont-blk search-bar">
	<div class="bar-top">
		<section class="search-cont">
			<span class="due-if cns-btn">&#xe600;</span>
			<input class="search-ipt" type="text" placeholder="搜索...">
		</section>
	</div>
	<div class="search-bar-main">
		<ul class="view-list">
			<% for (var i = 0; i < 4; i++) { %>
			<li class="view-item note-selected">
				<p class="item-title">
					<span class="due-if note-icon">&#xe67a;</span>
					<span class="item-text">日报 11.25</span>
				</p>
				<p class="note-abstract">
					web前端（实习生）---杜豪已做: 双旦工行、建行雪花动画，建行提测正做: 建行bug修改要做: tffui页面更新
				</p>
				<p class="note-msg">
					<span class="time-stamp">2017-3-3</span>
					<span class="note-size">3KB</span>
				</p>
			</li>
			<li class="view-item">
				<p class="item-title">
					<span class="due-if mk-icon">&#xe66c;</span>
					<span class="item-text">日报 11.25</span>
				</p>
				<p class="note-abstract">
					web前端（实习生）---杜豪已做: 双旦工行、建行雪花动画，建行提测正做: 建行bug修改要做: tffui页面更新
				</p>
				<p class="note-msg">
					<span class="time-stamp">2017-3-3</span>
					<span class="note-size">3KB</span>
				</p>
			</li>
			<% } %>
		</ul>
	</div>
	<span class="side-open cns-btn">&gt;</span>
</div>