
<div class="cns-cont-blk side-bar">
	<div class="bar-top">
		<span class="new-btn cns-btn">
			<span class="due-if">&#xe628;</span>
			新建
		</span>
	</div>
	<div class="side-bar-main">
		<ul class="side-bar-list">
			<li class="newest cns-btn ">
				<a class="cns-btn side-bar-item">
					<span class="due-if">&#xe65a;</span><span class="newest-btn btn-text">最新</span>
				</a>				
			</li>
			<li class="newest cns-btn ">
				<a class="cns-btn side-bar-item">
					<span class="due-if">&#xe627;</span><span class="newest-btn btn-text">分享</span>
				</a>				
			</li>
			<li class="my-folders">
				<a class="cns-btn list-title side-bar-item">
					<span class="due-if">&#xe8ea;</span>
					<span class="newest-btn btn-text">我的文件夹</span>
				</a>
				<ul class="folder-item-list">
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
					<li class="folder-item cns-btn side-bar-item">
						<span class="due-if">&#xe62e;</span>
						<span class="btn-text">笔记1</span>
						<span class="due-if down-arr">&#xe605;</span>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<span class="side-close cns-btn">&lt;</span>
</div>