
<div class="cns-cont-blk side-bar">
	<div class="bar-top">
		<span class="new-btn cns-btn">
			<span class="due-if">&#xe628;</span>
			新建
		</span>
		<ul class="widget-menu new-menu">
			<li class="widget-item new-folder">文件夹</li>
			<li class="widget-item new-note">笔记</li>
			<li class="widget-item new-mk">markdown</li>
		</ul>
	</div>
	<div class="side-bar-main">
		<ul class="side-bar-list">
			<li class="newest cns-btn ">
				<div class="item-cont">
					<a class="cns-btn side-bar-item">
					<span class="due-if">&#xe65a;</span><span class="newest-btn btn-text">最新</span>
					</a>
				</div>
								
			</li>
			<li class="my-folders">
				<div class="item-cont folder-list-title" data-entity-id="root">
					<a class="cns-btn list-title side-bar-item">
						<span class="due-if">&#xe8ea;</span><span class="newest-btn btn-text">我的文件夹</span>
					</a>
				</div>
				
				<ul class="folder-item-list">
					<% side_data.forEach(function(item){ %>
					<%- include sideItemTemp %>
					<%	}); %>
				</ul>
			</li>
		</ul>
	</div>
	<span class="side-close cns-btn">&lt;</span>
</div>