<li class="version-item" data-entity-id="<%= item.note_id%>">
	<div class="version-cont">
		<span class="version-date"><%= item.created_at %></span>
		<span class="del-btn" data-back-id="<%= item.note_id%>">删除</span>
		<span class="back-btn" data-back-id="<%= item.note_id%>">恢复到此版本</span>
	</div>
</li>