<ul class="widget-menu flo-menu folder-menu" data-target-id="">
	<li class="widget-item new-folder">新建文件夹</li>
	<li class="widget-item new-note">新建笔记</li>
	<li class="widget-item new-mk">新建markdown</li>
	<li class="widget-item rename">重命名</li>
	<li class="widget-item delete">删除</li>
</ul>
<ul class="widget-menu down-arr-menu folder-menu" data-target-id="">
	<li class="widget-item new-folder">新建文件夹</li>
	<li class="widget-item new-note">新建笔记</li>
	<li class="widget-item new-mk">新建markdown</li>
	<li class="widget-item rename">重命名</li>
	<li class="widget-item delete">删除</li>
</ul>
<ul class="widget-menu note-detail-menu" data-target-id="">
	<li class="widget-item rename">重命名</li>
	<li class="widget-item move">移动到</li>
	<li class="widget-item delete">删除</li>
	<li class="widget-item share">分享</li>
</ul>