@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont/iconfont.eot');
  src: url('../fonts/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont/iconfont.woff') format('woff'),
  url('../fonts/iconfont/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont/iconfont.svg#iconfont') format('svg');
}
.user-control{
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    a{
        margin: 0 5px;
        cursor: pointer;
    }
}
.due-if{
    font-family: "iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
#site-title{
    transition: color 1.5s;
    font-weight: bold;
    font-style: italic;
    background-color: #f8f8f8;
    width: 420px;
    text-align: center;
    border: 1px solid #e7e7e7;
    padding: 20px;
    margin-left: 40px;
    border-radius: 5px;
    font-size: 32px;
}
.page-nav{
    min-height: 50px;
    line-height: 50px;
    margin: 0px;
    border-radius: 0px;
    position: relative;
    display: block;
    background-color: #398dee;
    font-size: 12px;
    a{
        color: #fff;
    }
}
.nav-list{
    position: absolute;
    margin-left: 30px;
    .due-if{
        color: #fff;
    }
}
.nav-item{
    float: left;
    margin-right: 10px;
    color: #fff;
}
.site-logo{
    font-size: 32px;
    color: #428bca;
}
article{
    padding: 0 30px;
}
.container{
    margin: 0 auto;
}
.user-menu{
    position: absolute;
    right: 30px;
}
.aside-nav{
    border: 1px solid #e7e7e7;
    width: 200px;
    padding: 0 20px;
    font-size: 18px;
    a{
        cursor: pointer;
        text-decoration: none;
    }
    float: left;
}
.login-form,.reg-form{
    margin-top: 100px;
    margin-left: 0px;
}
.main-box{
    overflow: hidden;
    position: relative;
}
.cns-cont-blk{
    float: left;
    overflow: hidden;
    color: #0e0e0e;
    border: 1px
}
.cns-btn{
    cursor: pointer;
}
.side-bar{
    position: relative;
    height: 100%;
    background-color: #f8f8f8;
    width: 15%;
    font-size: 12px;
    .due-if{
        color: #398dee;
        font-size: 20px;
    }
}
.new-btn{
    font-size: 14px;
    margin-left: 40px;
    .due-if{
        font-size: 12px;
    }
}
.bar-top{
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e0e1e5;
    border-width: 0 1px 1px 0;
    padding-left: 30px;

}
.side-bar-main{    
    border: 1px solid #e0e1e5;
    border-width: 0 1px 1px 0;    
    .side-bar-item{
        line-height: 30px;
        position: relative;
        padding-left: 30px;
        text-decoration: none;
        display: block;        
        .btn-text{
            color: #737373;
        }
    }   
    .item-cont{
        padding-top: 5px;
        height: 35px;
        &:hover{
            background-color: #e4edf8;
        }
    }
    .btn-text{
        display: inline-block;
        margin: 1px 0 0 45px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 20px;
        line-height: 24px;
    } 
    .due-if{
        font-size: 25px;
        margin-right: 10px;
        color: #959fb1;
        display: inline-block;
        width: 25px;
        height: 25px;
        position: absolute;
    }
    .selected{
        background-color: #398dee;
        .btn-text{
            color: #fff;
        }
        .arr-icon{
            color: #fff;
        }
        &:hover{
            background-color: #398dee;
            .down-arr{
                visibility: visible;
                color: #fff;
            }
        }
    }
}
.newest{
    .due-if{
        top: -2px;
        margin-left: -2px;
    }
}
.my-folders{
    .folder-list-title{
        line-height: 35px;
        .due-if{
            top: -1px;
            margin-left: -2px;
        }
    }
}
.folder-item-list{
    overflow: auto;
    .folder-item{
        line-height: 25px;
        padding-left: 0;
        .item-cont{
            padding-left: 40px;
            &:hover{
                .down-arr{
                    display: inline;
                }
            }
        }        
    }
    .sub-list{
        display: none;
    }
    .list-open{
        display: block;
    }
    .has-sub-open{
        display: none;
        position: absolute;
        cursor: pointer;
        .folder-icon{
            margin-top: 0px;
            font-size: 21px;
        }
    }
    .folder-icon{
        color: #F5CD62;
        font-size: 20px;
        margin: 2px 0 0 15px;
    }
    .arr-icon{
        font-size: 14px;
    }
    .down-arr{
        font-size: 14px;
        position: absolute;
        right: 0;
        color: #737373;
        display: none;
        margin-top: 2px;
    }
    .rename-cont{
        position: absolute;
        left: 0px;
        height: 25px;
        margin-top: 1px;
        display: none;
        z-index: 100;
    }
    .ipt-show{
        display: inline-block;
    }
    .folder-open{
        .has-sub{
            display: none;
        }
        .has-sub-open{
            display: inline-block;
        }
    }
}
.side-close,.side-open{
    position: absolute;
    display: inline-block;
    width: 30px;
    bottom: 0;
    border: 1px solid #e0e1e5;
    line-height: 30px;
    text-align: center;
    color: #737373;
    font-size: 18px;
    background-color: #fff;
    z-index: 101;
    &:hover{
        color: #010101;
        font-weight: bold;
        background-color: #fff;
    }
}
.side-close{
    right: 0;
    border-radius: 5px 0 0 5px;
    border-right-color: #f8f8f8;
}
.side-open{
    left: -1px;
    border-radius: 0 5px 5px 0;
    border-left-color: #f8f8f8;
    display: none;
}
.search-bar{
    width: 20%;
    position: relative;
    background-color: #f8f8f8;
    .bar-top{
        padding: 1px;
    }   
}
.search-bar-main{        
    border: 1px solid #e0e1e5;
    border-width: 0 1px 1px 0;
    .view-list{
        overflow: auto;
    }   
    .view-item{
        padding: 15px 20px;
        position: relative;
        cursor: default;
        border-bottom: 1px solid #e0e1e5;
        &:hover{
            background-color: darken(#f6f7f9,1%);
        }
    }
    .due-if{
        position: absolute;
        left: 20px;
    }
    .item-title{
        padding-left: 25px;
        line-height: 20px;
        height: 20px;
        overflow: hidden;
        white-space: nowrap;    
        text-overflow: ellipsis;
    }
    .rename-cont{
        position: absolute;
        left: 43px;
        height: 25px;
        margin-top: -2px;
        z-index: 100;
        display: none;
    }
    .ipt-show{
        display: inline-block;
    }
    .note-icon{
        color: #AED286;
        font-size: 20px;
    }
    .mk-icon{
        color: #F78A09;
        font-size: 20px;
    }
    .note-abstract{
        color: #82828c;
        margin: 6px 0 0;
        line-height: 20px;
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .selected{
        background-color: #e4edf8;
        &:hover{
            background-color: #e4edf8;
        }
    }
    .note-msg{
        margin: 6px 0 0;
        color: #C4C2CC;
    }
    .note-size{
        margin-left: 10px;
    }
}
.search-cont{
    width: 80%;
    margin: 8px auto;
    border: 1px solid #737373;
    height: 30px;
    line-height: 28px;
    border-radius: 20px;
    position: relative;
    border: 1px solid #e0e1e5;
    .search-ipt{
        display: inline-block;
        width: 100px;
        height: 20px;
        font-size: 12px;
        margin-left: 10px;
        border: 0;
        outline: medium;
        background-color: transparent;
        &:active{
            border: 0;
        }
    }
    .due-if{
        position: absolute;
        right: 10px;
        color: #1e1e1e;
        &:hover{
            color: #398dee;
        }
    }
}
.edit-bar{
    width: 65%;
    position: relative;
    .note-title{
        font-size: 18px;
    }
    .name-cont{
        border: 0;
        outline: medium;
        border-color: transparent;
        font-size: 18px;
        height: 30px;
    }
    .edit-top-opt{
        width: 80px;
        height: 30px;
        line-height: 28px;
        position: absolute;
        top: 10px;
        font-size: 11px;
        color: #82B6F4;
        text-align: center;
        border-radius: 6px;
        border: 1px solid #e2e2e2;
        cursor: pointer;
        background-color: #fff;
        &:hover{
            color: #398dee;
            border: 1px solid #B9BBC5;
        }
    }
    .save-btn{
        right: 120px;
    }
    .share-btn{
        right: 25px;
    }
}
.page-side-close{
    .side-bar{
        width: 0;
    }
    .edit-bar{
        width: 80%;
    }
    .side-open{
        display: inline-block;
    }
}
.mCSB_container{
    margin-right: 0;
}
.mCSB_draggerContainer{
    margin-right: 0;
    .mCSB_draggerRail{
        visibility: hidden;
    }
}
.mCSB_scrollTools{
    .mCSB_dragger{
        left: 6px;
        width: 27px;
        background: rgba(57, 141, 238, .3);
    }  
}
.edit-cont{
    position: relative;
    height: 574px;
    .cke_1{
        position: absolute;
        top: 0;
        bottom: 0;
    }
}
.widget-menu{
    position: absolute;
    z-index: 100;
    background: #ffffff;
    color: #999;
    min-width: 120px;
    padding: 0px 0px;
    border-radius: 2px;
    box-shadow: 0px 1px 16px 0 rgba(90, 109, 122, 0.41);
    cursor: default;
    .widget-item{
        padding: 5px 10px;
        padding: 0 20px;
        vertical-align: baseline;
        line-height: 30px;
        &:hover{
            color: #76b0f3;
            background: #f4f9ff;
            cursor: pointer;
        }
    }
}
.page-mask{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    display: none;
}
.new-menu{
    margin: -10px 0 0 10px;
    display: none;
}
.folder-menu{
    display: none;
    top: 0;
    margin-top: -50px;
}
.note-detail-menu{
    display: none;
    top: 0;
    margin-top: -50px;
}
.ipt-show{
    display: inline-block;
}
.blk-show,.menu-show,.rename-show{
    display: block;
}
.layer-msg{
    width: 30%;
    font-size: 20px;
    background-color: #398dee;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    a{
        color: #F5CD62;
    }
}